<ul class="admin_menu">
    <li>
        <a href="{% url 'main' %}">
            На сайт
        </a>
    </li>
    <li>
        <a href="{% url 'admins:users' %}" class="{% if request.resolver_match.url_name == 'users' %}active{% endif %}">
            Пользователи
        </a>
    </li>
    <li>
        <a href="{% url 'admins:categories' %}"
            class="{% if request.resolver_match.url_name == 'categories' or category.name %}active{% endif %}">
            Категории
            {% if category %}
            :<span>{{ category.name }}</span>
            {% endif %}
        </a>
    </li>
</ul>