<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
    <title>
        {% block title%}
            HoT - {{ title|title }}
        {% endblock %}
    </title>
    {% block css %}
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}">
    {% endblock %}
</head>

<body>
    <div class="admin_container">
        <div class="h2_text_center_head">
            Админка
        </div>
        {% block menu %}
        <div class="admin_menu">
            {% include 'adminapp/includes/inc_menu.html' %}
        </div>
        {% endblock %}

        {% block content %}
        {% endblock %}
    </div>
</body>

</html>