{% extends 'authapp/base.html' %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/admin_style.css' %}">
<link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}">
{% endblock %}

{% block content %}
<form class="form-horizontal" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="form-control" type="submit" value="сохранить">
</form>
<button class="back_btn">
    <a href="{% url 'admins:categories' %}">
        к списку категорий
    </a>
</button>
{% endblock %}