{% extends 'authapp/base.html' %}
{% load staticfiles %}

{% block css %}
{{ block.super }}
{% endblock %}

{% block content %}
<form class="form-horizontal" method="post" enctype="multipart/form-data">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}">
    {% csrf_token %}
    {{ update_form.as_p }}
    <input class="form-control" type="submit" value="сохранить">
</form>
<button class="btn btn-round form-control last">
    <a href="{% url 'admins:users' %}">
        к списку пользователей
    </a>
</button>
{% endblock %}
