{% extends 'adminapp/base.html' %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/admin_style.css' %}">
<link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}">
{% endblock %}

{% block content %}
<div class="user_delete">
    <br>
    Уверены, что хотите удалить {{ user_to_delete.username }}
    {% if user_to_delete.first_name %}
    ({{ user_to_delete.first_name|title }}</b>
    {% if user_to_delete.last_name %}
    {{ user_to_delete.last_name|title }}
    {% endif %})
    {% endif %}
    ?
    <br>
    <form action="{% url 'admins:user_delete' user_to_delete.pk %}" method="post">
        {% csrf_token %}
        <input class="btn btn-danger" type="submit" value="удалить">
    </form>
    <br>
    <button class="cancel_btn">
        <a href="{% url 'admins:users' %}">
            Отмена
        </a>
    </button>
</div>
{% endblock %}
