{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block title %}
{{ block.super }}
{% endblock %}

{% block css %}
{{ block.super }}
{% endblock %}

{% block js %}
{{ block.super }}
{% endblock %}

{% block page_header %}
{{ block.super }}
{% endblock %}

{% block page_content %}
<div class="contact_main">
    <div class="contact_head">
        <h1>Свяжитесь с нами</h1>
    </div>
    <div class="contact_places">
        <div class="contact_center_board">
            <div class="medium_board board_1">
                <div class="img_marker"><img src="/static/img/marker.png" alt=""></div>
                <div class="location_name">California</div>
                <div class="address">
                    <br>
                    <h6 class="small_head">Phone:</h6>
                    <a href="#" class="contact_phone">1900 - 1234 - 5678</a>
                    <br>
                    <h6 class="small_head">Email:</h6>
                    <a href="#" class="contact_email">info@interior.com</a>
                    <br>
                    <h6 class="small_head">Address:</h6>
                    <p class="contact_address">12 W 1st St, 90001 Los Angeles, California</p>
                </div>
            </div>
            <div class="medium_board board_2">
                <div class="img_marker"><img src="/static/img/marker.png" alt=""></div>
                <div class="location_name">California</div>
                <div class="address">
                    <br>
                    <h6 class="small_head">Phone:</h6>
                    <a href="#" class="contact_phone">1900 - 1234 - 5678</a>
                    <br>
                    <h6 class="small_head">Email:</h6>
                    <a href="#" class="contact_email">info@interior.com</a>
                    <br>
                    <h6 class="small_head">Address:</h6>
                    <p class="contact_address">12 W 1st St, 90001 Los Angeles, California</p>
                </div>
            </div>
            <div class="medium_board board_3">
                <div class="img_marker"><img src="/static/img/marker.png" alt=""></div>
                <div class="location_name">California</div>
                <div class="address">
                    <br>
                    <h6 class="small_head">Phone:</h6>
                    <a href="#" class="contact_phone">1900 - 1234 - 5678</a>
                    <br>
                    <h6 class="small_head">Email:</h6>
                    <a href="#" class="contact_email">info@interior.com</a>
                    <br>
                    <h6 class="small_head">Address:</h6>
                    <p class="contact_address">12 W 1st St, 90001 Los Angeles, California</p>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block footer %}
{{ block.super }}
{% endblock %}