{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block title %}
{{ block.super }}
{% endblock %}

{% block css %}
{{ block.super }}
{% endblock %}

{% block js %}
{{ block.super }}
{% endblock %}

{% block page_header %}
{{ block.super }}
{% endblock %}

{% block page_content %}
<div class="main">
    <div class="welcome_message">
        <h2>Приветствуем, дорогой покупатель!</h2>
        <h3>
            Рады видеть вас в нашем интернет-магазине!<br> В нашем каталоге мировые и российские производители:
            Bosch, DeWALT, AEG, Metabo.<br> Подтверждение — сертификаты официального дилера и отзывы наших
            покупателей!
        </h3>
    </div>
    <div class="main_menu">
        <a href="#" class="main_menu_left">Скидки</a>
        <a href="#" class="main_menu_left">Новинки</a>
        <a href="{% url 'products:category' 0 %}" class="main_menu_right">Смотреть все ></a>
    </div>
    <div class="hot_deal clearfix">
        {% for product in products %}
        <div class="block">
            <a href="{% url 'products:product' product.pk %}"><img src="/media/{{ product.image }}" alt="">
                <div class="text">
                    <img src="{% static '/img/icon-hover.png' %}" alt="img">
                    <h3>{{ product.category }}</h3>
                    <h4>{{ product.name }}</h4>
                    <p>{{ product.short_desc }}</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block footer %}
{{ block.super }}
{% endblock %}