<div class="navbar">
    <a href="{% url 'main' %}" {% if request.resolver_match.url_name == 'main' %}class="active" {% endif %}>Главная</a>
    <a href="{% url 'products:index' %}"
        class="{% if request.resolver_match.namespace == 'products' %}active{% endif %}">Товары</a>
    <a href="{% url 'contact' %}" {% if request.resolver_match.url_name == 'contact' %}class="active"
        {% endif %}>Контакты</a>
    <a href="#">Поиск</a>
    {% if user.is_authenticated %}
    <a class="right" href="{% url 'basket:view' %}"
        class="{% if request.resolver_match.namespace == 'basket' %}active{% endif %}">Корзина
        <span class="basket_counter">
            {% if basket %}
            {{ basket.0.total_quantity }} шт
            ({{ basket.0.total_cost|floatformat:0 }} руб)
            {% endif %}
        </span>
    </a>
    <div class="sub_nav_menu">
            <a href="#">{{ user.first_name|default:'Пользователь' }} >></a>
        <ul>
            <li><a href="{% url 'auth:edit' %}">Профиль</a></li>
            <li><a href="{% url 'ordersapp:orders_list' %}">Заказы</a></li>
            {% if user.is_superuser %}
            <li><a href="{% url 'admins:users' %}">Aдминка</a></li>
            {% endif %}
        </ul>
    </div>

    {% endif %}
    {% if user.is_authenticated %}
    <a href="{% url 'auth:logout' %}" class="right">Выйти</a>
    {% else %}
    <a href="{% url 'auth:login' %}" class="right">Войти</a>
    {% endif %}

</div>